<%= render 'admin/shared/list', items: @admin_facility_posts_path %>

<div>
  <%= flash[:notice] %>
</div>

<div class="col-md-9">
  <h3>新規施設投稿フォーム</h3>

  <%= form_with(model: @facility_post, url:admin_facility_posts_path, local: true) do |f| %>
    <h6 style="margin-top: 10px;">お店・施設名</h6>
      <%= f.text_field :name %>
    
    <h6 style="margin-top: 10px;">施設ジャンル</h6>
    <%= f.select :facility_genre_id, options_from_collection_for_select(@facility_genres, :id, :name), prompt: "選択してください" %>

  <h6 style="margin-top: 10px;">ペットジャンル</h6>
    <% @pet_genres.each do |pet_genre| %>
      <div>
        <%= f.check_box :pet_genre_ids, { multiple: true }, pet_genre.id, nil %>
        <%= f.label :pet_genre_ids, pet_genre.name, value: pet_genre.id %>
      </div>
    <% end %>

    <h6 style="margin-top: 10px;">所在地</h6>
      <%= f.text_field :address %>

    <h6 style="margin-top: 10px;">営業時間</h6>
    <div class="time-field">
    <%= f.time_select :opening_time, prompt: true %> 〜
    <%= f.time_select :closing_time, prompt: true %>
    </div>

    <h6 style="margin-top: 10px;">お店・施設説明</h6>
      <%= f.text_area :introduction %>

    <h6 style="margin-top: 10px;">料金一覧</h6>
      <%= f.text_area :prices %>

    <div>
      <%= f.submit '投稿', class:'btn btn-success', style: "font-size: 14px; padding: 3px 8px;" %>
    </div>
  <% end %>
</div>
</div>
</div>