<%= render 'admin/shared/list', items: @admin_item_post_item_review_path %>

<div>
  <%= flash[:notice] %>
</div>

<div class="col-md-9">
  <h3>レビュー編集</h3>

  <%= form_for([@item_post, @item_review]) do |item_review| %>
    p style="margin-top: 10px; margin-bottom: 5px;">評価</p>
      <%= item_review.number_field :evaluation, in: 1..5 %>

    p style="margin-top: 10px; margin-bottom: 5px;">コメント</p>
      <%= item_review.text_area :comment %> 

    <div>
      <%= item_review.submit "更新する", style: "font-size: 14px; padding: 3px 5px;" %>
    </div>

  <% end %>
</div>
</div>
</div>