<%= render 'admin/shared/list', items: @new_admin_facility_genres_path %>

<div>
  <%= flash[:notice] %>
</div>

<div  class="col-md-9">
  <h3>施設ジャンル追加</h3>

  <%= form_with model: @facility_genre, url: admin_facility_genres_path do |f| %>
    <h6 style="margin-top: 10px;">ジャンル名</h6>
    <%= f.text_field :name %>

    <div style="margin-top: 10px;">
      <%= f.submit '追加', class:'btn btn-success', style: "font-size: 14px; padding: 3px 8px;" %>
    </div>
  <% end %>
</div>
</div>
</div>