<div>
  <%= flash[:notice] %>
</div>

<div class="row">
  <div class="col-md-9 mx-auto">
    <h3 class="mt-3">新規商品投稿フォーム</h3>
    <%= form_with(model: @item_post, local: true) do |f| %>
      <h6 style="margin-top: 10px;">商品名</h6>
        <%= f.text_field :name %>
      
      <h6 style="margin-top: 10px;">商品ジャンル</h6>
        <%= f.select :item_genre_id, options_from_collection_for_select(@item_genres, :id, :name), prompt: "選択してください" %>

      <h6 style="margin-top: 10px;">ペットジャンル</h6>
      <% @pet_genres.each do |pet_genre| %>
        <div>
          <%= f.check_box :pet_genre_ids, { multiple: true }, pet_genre.id, nil %>
          <%= f.label :pet_genre_ids, pet_genre.name, value: pet_genre.id %>
        </div>
      <% end %>

      
      <h6 style="margin-top: 10px;">価格</h6>
        <%= f.text_field :prices %>

      <h6 style="margin-top: 10px;">商品説明</h6>
        <%= f.text_area :introduction %>

      <div style="margin-top: 10px;">
        <%= f.submit '投稿', class:'btn btn-success', style: "font-size: 14px; padding: 3px 8px;" %>
      </div>
    <% end %>
  </div>
</div>