<div>
  <%= flash[:notice] %>
</div>

<h1>商品投稿詳細画面</h1>
<h1><%= @item_post.name %></h1>

<p><strong>商品名:</strong> <%= @item_post.name %></p>
<p><strong>商品ジャンル:</strong><%= @item_post.item_genre.name %></p>
<p><strong>ペットジャンル:</strong>
  <% if @item_post.pet_genres.any? %>
    <%= @item_post.pet_genres.map(&:name).join(', ') %>
  <% else %>
    なし
  <% end %>
</p>
<p><strong>価格:</strong> <%= @item_post.prices %></p>
<p><strong>施設説明:</strong> <%= @item_post.introduction %></p>
<p><strong>料金一覧</strong><%= @item_post.prices %></p>
<p><strong></strong></p>

<%= link_to '編集', edit_item_post_path(@item_post) %> |
<%= link_to 'Back', item_posts_path %>

<h2>商品レビュー一覧</h2>

<%= link_to "レビュー投稿", new_item_post_item_review_path(@item_post), class: "btn btn-primary" %>

<% if @item_reviews.any? %>
  <% @item_post.item_reviews.each do |item_review| %>
    <div class="review">
      <p><strong>評価:</strong><%= item_review.evaluation %> / 5</p>
      <p><strong>コメント:</strong><%= item_review.comment %></p>
      <p><strong>投稿者:</strong><%= item_review.user.name %></p>
      <p><strong>投稿日時:</strong><%= item_review.created_at.strftime('%Y-%m-%d %H:%M') %></p>
      <%= link_to '編集', edit_item_post_item_review_path(item_review.item_post_id, item_review), class: 'btn btn-primary' %> | 
    <%= link_to '削除', item_post_item_review_path(item_review.item_post_id, item_review), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
    </div>
    <% end %>
<% else %>
  <p>まだレビューはありません。</p>
<% end %>



