<div>
  <%= flash[:notice] %>
</div>

<div class="row">
  <div class="col-md-9 mx-auto">
    <h3 class="mt-3">施設投稿一覧</h3>

  <%= form_with(url: facility_posts_path, method: :get, local: true) do |form| %>
    <div class="row">
      <div class="col-md-3 d-flex align-items-end">
        <%= form.text_field :query, placeholder: 'お店・施設名...', value: params[:query], class: "form-control", style: "font-size: 12px;" %>
      </div>

      <div class="col-md-3 d-flex align-items-end">
        <%= form.label :facility_genre_id, 'お店・施設ジャンル' %>
        <%= form.select :facility_genre_id, options_from_collection_for_select(FacilityGenre.all, :id, :name, params[:facility_genre_id]), include_blank: 'すべて', class: "form-control" %>
      </div>

      <div class="col-md-3 d-flex align-items-end">
        <%= form.label :pet_genre_id, 'ペットジャンル' %>
        <%= form.select :pet_genre_id, options_from_collection_for_select(PetGenre.all, :id, :name, params[:pet_genre_id]), include_blank: 'すべて', class: "form-control" %>
      </div>

      <div class="col-md-3 d-flex align-items-end">
        <%= form.submit '検索', style: "font-size: 12px; padding: 2px 2px;" %>
      </div>
      </div>
    <% end %>

    <div style="padding-top: 10px; padding-bottom: 5px; text-align: right;">
      <%= link_to "新規投稿", new_facility_post_path, class: "btn btn-info btn-sm mb-1 sign_in custom-btn" %> 
    </div>

    <table class="table table-hover table-inverse" style="font-size: 12px;">
    <thead>
      <tr>
        <th></th>
        <th>お店・施設名</th>
        <th>所在地</th>
        <th>営業時間</th>
        <th>商品ジャンル</th>
        <th>ペットジャンル</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @facility_posts.each do |facility_post| %>
      <tr>
        <td>
        </td>
        <td class="facility_post-name"><%= link_to facility_post.name, facility_post_path(facility_post) %></td>
        <td class="facility_post-address"><%= facility_post.address %></td>
        <td class="facility_post-opening_time">
          <%= facility_post.opening_time.present? ? facility_post.opening_time.strftime('%H:%M') : 'N/A' %>~
          <%= facility_post.closing_time.present? ? facility_post.closing_time.strftime('%H:%M') : 'N/A' %>
        </td>
        <td class="facility_genre"><%= facility_post.facility_genre.name %></td>
        <td class="pet_genre">
          <% if facility_post.pet_genres.any? %>
            <%= facility_post.pet_genres.map(&:name).join(', ') %>
          <% else %>
            なし
          <% end %>
        </td>
        <td><%= link_to "編集", edit_facility_post_path(facility_post) %></td>
        <td>
        <% if facility_post %>
          <%= link_to "削除", facility_post_path(facility_post), method: :delete, data: { confirm: '本当に削除しますか？' } %>
        <% end %>    
      </td>
      <% end %>
      </tbody>
  </table>
  </div>
</div>

