<!DOCTYPE html>
<html>
  <head>
    <title>PetReviewStudio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
        <li>
          <%= link_to "Pet Review studio", root_path %>
        </li>
      </ul>
    <% if user_signed_in? %>
      <ul>
        <li>
          <%= link_to "Top", root_path %>
        </li>
        <li>
          <%= link_to "商品投稿一覧 ", item_posts_path %>
        </li>
        <li>
          <%= link_to "施設投稿一覧", facility_posts_path%>
        </li>
        <li>
          <%= link_to "My Page", users_mypage_path(@user) %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
      </ul>
    <% elsif admin_signed_in? %>
      <ul>
        <li>
          <%= link_to "Dashboards", admin_dashboards_path %>
        </li>
        <li>
          <%= link_to "商品投稿一覧 ", admin_item_posts_path %>
        </li>
        <li>
          <%= link_to "施設投稿一覧", admin_facility_posts_path%>
        </li>
        <li>
          <%= link_to "ユーザー一覧", admin_users_path %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
        </li>
      </ul>
    <% else %>
      <ul>
        <li>
          <%= link_to "Top", root_path %>
        </li>
        <li>
          <%= link_to "商品投稿一覧 ", item_posts_path %>
        </li>
        <li>
          <%= link_to "施設投稿一覧", facility_posts_path%>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path %>
        </li>
        <li>
          <%= link_to "新規登録", new_user_registration_path %>
        </li>
      </ul>
      <% end %>
    </header>

    <main>
    <%= yield %>
    </main>

    <footer>

    </footer>
  </body>
</html>
